<section class="main-top-section">
<div class = "about-container feature-about">

  <div class="nav-bar-container-small">

      <div class="nav-bar-about">
          <a ui-sref-active="active" ui-sref="beerHome">
              <span>Home</span>
          </a>
          <a ui-sref-active="active" ui-sref="beers">
              <span>Beers</span>
          </a>
          <a ui-sref-active="active" ui-sref="fizzy">
              <span>Fizzy Drinks</span>
          </a>
          <a ui-sref-active="active" ui-sref="about">
              <span>About</span>
          </a>
          <a ui-sref-active="active" ui-sref="contact">
              <span>Contact Us</span>
          </a>
      </div>
  </div>
  <div class = "about-row">
<div class = "h1-container">

  <h1>OUR STORY</h1>
</div>
  </div>
<!-- <div id='container'>
  <div id="group1">
    <div class="background">
      <h1>OUR STORY</h1>
    </div>
    <div class = "eightcol">
    <div class="foreground">
        <h1 class = "fade-in delay-10ms">We belive in sustainable, environmentally friendly processes for brewing beer.</h1>

    </div>
  </div>
</div>



  <div id = "group2">
    <div class = "background">
      <img class = "fade-in delay-10m" src = "./img/the_guys.png"/>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class = "eightcol">
    </div>
  </div> -->
</section>
  <div class="container intro-container ng-scope">
      <div class="row">
          <div class="twelvecol">
              <h2 ui-sref="works" href="#/works"></h2>
          </div>
          <div class="twocol">
              <!-- no content -->
          </div>

          <div class="eightcol">
              <div class="beerHome-intro-text-container">
                  <div class="home-text">
                      <h2>
                          We love really, really good beer and this is our passion.
                      </h2>
                      <p>
                          We will be completely functional by the end of July. We are so excited for our journey.
                      </p>
                      <img src = "./img/the_guys.png" />
              </div>
            </div>
          </div>


</div>
</div>
</div>
