<!-- <div class = "about-container">
<h1>HELLO</h1>
<div class="parallax">
    <div class="parallax__group groupOne">
      <div class="parallax__layer parallax__layer--back">

      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>

    <div class="parallax__group groupTwo">
      <div class="parallax__layer parallax__layer--back">

      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>

    <div class="parallax__group groupThree">
      <div class="parallax__layer parallax__layer--back">

      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>
</div>


</div> -->
<div id='container'>
  <div id="group1">
    <div class="background">
      <center>I'm an element far away, SUCCESSFULLY pretending to be close by.</center>
    </div>
    <div class="foreground">
      <center>I'm an element close by.</center>
    </div>
  </div>
</div>
