<!-- <div class = "about-container">
<h1>HELLO</h1>
<div class="parallax">
    <div class="parallax__group groupOne">
      <div class="parallax__layer parallax__layer--back">

      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>

    <div class="parallax__group groupTwo">
      <div class="parallax__layer parallax__layer--back">

      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>

    <div class="parallax__group groupThree">
      <div class="parallax__layer parallax__layer--back">

      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>
</div>


</div> -->
<div id='container'>
  <div id="group1">
    <div class="background">
      <img src = "love_serve.png" />
    </div>
    <div class = "eightcol">
    <div class="foreground">

    </div>
  </div>
</div>



  <div id = "group2">
    <div class = "background">

    </div>
    <div class = "eightcol">
      <div class = "foreground">
        <h1>We belive in sustainable, environmentally friendly processes for brewing beer.</h1>
      </div>
    </div>
  </div>

</div>
