<div class = "agegate-container">
  <div class = "small-logo-container">
    <div class = "small-logo">
      <img src = "./img/black_white_logo.png" alt = "Maple Mountain Logo"/>
    </div>
  </div>

<div class = "agegate-check">
  <h3>
    Are you 21 years of age <br/>or older?<br/>
  </h3>
  <p>Fellow beer lover, <br/>you must be 21 to enter our page
  </p>
</div>
    <div class = "button-container">

    <a ui-sref-active = "active" ui-sref = "beerHome"><button>YES</button></a>
    <a ui-sref-active = "active" ui-sref = "fizzyHome"><button>NO</button></a>

    </div>
</div>
