<div class="app ng-scope" id="app">
    <section class="main-top-section">
        <div class="container feature">
            <div class="nav-bar-container-small">
                <!-- <div class="nav-small-logo" ng-click="showMobileNav = !showMobileNav">
                    <img src="./img/black_white_logo.png"/>
                </div> -->

                <div class="nav-bar">
                    <a ui-sref-active="active" ui-sref="beerHome">
                        <span>Home</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="beers">
                        <span>Beers</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="fizzy">
                        <span>Fizzy Drinks</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="about">
                        <span>About</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="contact">
                        <span>Contact Us</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="twelvecol">
                    <div class="love-serve">
                        <span class="highlight">
                            <span class="love">
                                <span class="fade-in delay-10ms">LOVE</span>
                                <span class="fade-in delay-15ms">
                                    SERVE</span>
                                <span class="fade-in delay-19ms">
                                    CELEBRATE</span>
                            </span>
                        </span>
                        <img src = "./img/blue_logo_two.png"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container intro-container ng-scope">
        <div class="row">
            <div class="twelvecol">
                <h2 ui-sref="works" href="#/works"></h2>
            </div>
            <div class="twocol">
                <!-- no content -->
            </div>

            <div class="eightcol">
                <div class="beerHome-intro-text-container">
                    <div class="home-text">
                        <h2>
                            WE ARE A GROUP OF PASSIONATE BREWERS LOCATED IN PROVO, UTAH.
                        </h2>
                        <p>
                            We handcraft beers in small 150-gallon batches under the close attention of our experienced brewers. MMBC recipes contain only the highest quality ingredients including
                            <strong>organic, local (as available), and non-gmo products</strong>.
                        </p>
                        <p class="process">
                            These standards combined with the unique process of using only purified sunbaked water and traditional brewing methods, ensures a level of quality that shines no matter the method of storage (bottle, can, keg).
                        </p>

                <div class = "petition-text-container">
                        <div class = "petition-left">
                          <h1>Check out our HANDCRAFTED BEERS!</h1>
                          <a ui-sref-active="active" ui-sref="beers"><img animate-directive alt = "beer-image" src = "./img/bottle_gray.png"/></a>

                        </div>
                        <div class="petition-text">
                            <p id = "petition-text-p">We are in the midst of building a great brewery, and we would love your support! Help Maple Mountain Brewery by signing and telling everyone you know to do the same! Thank you for your support.</p>
                            <a href = "http://www.ipetitions.com/petition/provos-first-brewery" target = "_blank"><img animate-directive class = "petition-image" alt = "petition-sign" src="./img/petitionSign.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
