

<div class = "menu">
  <div class="nav-bar-container-small">

      <div class="nav-bar">
          <a ui-sref-active="active" ui-sref="beerHome">
              <span>Home</span>
          </a>
          <a ui-sref-active="active" ui-sref="beers">
              <span>Beers</span>
          </a>
          <a ui-sref-active="active" ui-sref="fizzy">
              <span>Fizzy Drinks</span>
          </a>
          <a ui-sref-active="active" ui-sref="about">
              <span>About</span>
          </a>
          <a ui-sref-active="active" ui-sref="contact">
              <span>Contact Us</span>
          </a>
      </div>
  </div>
<div class = "menu-small-text">
  <h1>OUR HANDCRAFTED BEERS</h1>
  <p>
    We really, really LOVE good beer!! Brewed to purity laws of ages & ages ago, allowing only 4 ingredients; hops, water, yeast & malt (& the odd bit of mandarin, ginger & other natural stuff to keep the taste buds tingling), Maple Mountain Brewing Company is thrilled to begin the journey to offer your delectable flavour sensations.
  </p>
</div>

  <div class = "menu-big">
    <div class = "menu-left first">
      <img class = "fade-in-left delay-10ms" src = "./img/bottle_yelllow.png"/>
    </div>
    <div class = "menu-right first-beer">
      <h1>Hoppy Valley</h1>
      <h2>-India Pale Ale-</h2>
      <p> Crisp & Light in bitterness with aromas of passionfruit & honeydew, light body, but not at the expense of hop character. To be enjoyed now and long after the sun’s gone down.
      </p>
    </div>
  </div>


  <div class = "menu-big">
    <div class = "menu-left second">
      <h1>RED DEV' ALE</h1>
      <h2>-Amber Ale-</h2>
      <p>A German born wheat beer. Cloudy pale straw in appearance, mild sweet nose with hints of banana exhibiting a well rounded palate showing characters of banana and spice.
      </p>
    </div>
    <div class = "menu-right second">
      <img class = "fade-in-right delay-15ms" src = "./img/bottle_red.png"/>
    </div>
  </div>


    <div class = "menu-big">
      <div class = "menu-left first">

        <img class = "fade-in-left delay-26ms" src = "./img/bottle_yellow_two.png"/>
      </div>
      <div class = "menu-right first-beer">
        <h1>HOT BLONDE ALE</h1>
        <h2>-Jalapeno Ale-</h2>
        <p> Light straw in colour. Aromas of lemon/lime prelude a light, mild beer.
          Finishing crisp and clean showing hints of jalapeno spice and citrus for the most refreshing summer beverage.'Murica
        </p>
      </div>
    </div>

    <div class = "menu-big">
      <div class = "menu-left second">
        <h1>STONE SOUP</h1>
        <h2>-Belgian-</h2>
        <p> A dry Irish style stout, presenting almost black, bearing a
          generous tan head. The aroma profile is of coffee, chocolate and caramel malts.
        </p>
      </div>
      <div class = "menu-right second">
        <img class = "fade-in-right delay-29ms" src = "./img/bottle_gray.png"/>
      </div>
    </div>



</div>
