  <div class = "navbar">
    <a ui-sref-active="active" ui-sref="fizzyHome"><span>Home</span></a>
    <a ui-sref-active="active" ui-sref="fizzy"><span>Fizzy Drinks</span></a>
    <a ui-sref-active="active" ui-sref="about"><span>About</span></a>
    <a ui-sref-active="active" ui-sref="contact"><span>Contact Us</span></a>

  </div>

  <!-- <div class = "home-container">

    <section class = "home-top">
      <h1>Welcome to Maple Mountain Brewery company!</h1>
      <button>Check out our Beers!</button>
    </section>
    <section class = "home-text">
      <p>
        We are a group of passionate brewers located in Provo, Utah. We handcraft beers in small 150-gallon batches under the close attention of our experienced brewers.  MMBC recipes contain only the highest quality ingredients including <strong>organic, local (as available), and non-gmo products</strong>. These standards combined with the unique process of using only purified sunbaked water and traditional brewing methods, ensures a level of quality that shines no matter the method of storage (bottle, can, keg).
      </p>
    </section> -->
<main-directive></main-directive>
