  <div class = "love-serve">
  <!--  <img src = "./img/high_pass_two.png"/>-->
      <span class = "highlight"><span class = "love"><span class = "fade-in delay-10ms">LOVE</span><span class = "fade-in delay-15ms"> SERVE</span><span class = "fade-in delay-19ms">
      CELEBRATE</span></span></span>

</div>

<div class = "home-text">
    <h2>
    WE ARE A GROUP OF PASSIONATE BREWERS LOCATED IN PROVO, UTAH.
    </h2>
    <p>
    We handcraft beers in small 150-gallon batches under the close attention of our experienced brewers.  MMBC recipes contain only the highest quality ingredients including <strong>organic, local (as available), and non-gmo products</strong>.
    </p>
    <p class = "process">
    These standards combined with the unique process of using only purified sunbaked water and traditional brewing methods, ensures a level of quality that shines no matter the method of storage (bottle, can, keg).
    </p>
</div>

<div class = "petition-text">
  <p>
  We are hoping to have our brewery completely functional by the end of this June. Please sign this petition to convince Provo that we have community support! Thank you!
  </p>
    <img src="./img/petitionSign.png"/>
</div>
