<div class="app ng-scope" id="app">
    <section class="main-top-section">
        <div class="container feature">
            <div class="nav-bar-container">

                <div class="nav-bar">
                    <a ui-sref-active="active" ui-sref="fizzyHome">
                        <span>Home</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="fizfizzy">
                        <span>Fizzy Drinks</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="fizAbout">
                        <span>About</span>
                    </a>
                    <a ui-sref-active="active" ui-sref="fizContact">
                        <span>Contact Us</span>
                    </a>
                </div>

              </div>
              <main-directive></main-directive>
            </section>
    </div>

</div>
