<div class="landing-container">
    <div class="landing-logo-container">
        <div class="heading-holder">
            <h1 class="fade-in delay-10ms">Welcome to Maple Mountain Brewery</h1>
        </div>
        <div class="landing-small-logo">
            <img src="./img/blue_logo_two.png"/>
        </div>
    </div>
    <span class="landing-text">
        <h1>Are you interested in
            <strong>BEER OR FIZZY DRINKS?</strong>
        </h1>
    </span>

</div>

<div class="landing-beer-container">

    <div class="landing-beer beer-left">
        <a ui-sref-active="active" ui-sref="ageGate"><img src="./img/beer.png" alt="stein of beer"/></a>
    </div>

    <div class="landing-beer beer-right">
        <a ui-sref-active="active" ui-sref="fizzyHome"><img src="./img/rootbeer.png" alt="rootbeer"/></a>
    </div>
</div>
